# Java
*.class
*.jar
*.war
*.ear
target/
.mvn/
.gradle/
build/

# Node
node_modules/
dist/
.env

# Android
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db
